

<div class="eval-heading">
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <h1>Prepare Evaluation</h1>
      <ul class="nav-pills custom-pills">
        <li role="presentation" class="active"><a data-toggle="tab" href="#evaluation-link">Link</a></li>
        <li role="presentation"><a data-toggle="tab" href="#send-emails">Email Directly</a></li>
      </ul>

      <div class="tab-content">
        <div id="evaluation-link" class="tab-pane active">
          <p>Instructor: <b class="strong"><%= @evaluation.teacher.name %></b></p>
          <p>Web Link: <b><%= ENV["DOMAIN"] %>submissions/<%= @evaluation.url %>/new</b></p>
          <p>Copy and give this link to respondents, for them to fill out the survey.</p> 
        </div>
        <div id="send-emails" class="tab-pane">
          <div ng-controller="addRespondentsCtrl" ng-init="setup(<%= @evaluation.id %>)">
            <div>
              <form>
                <div class="form-group">
                  <label for="subject">Subject</label>
                  <input class="form-control" id="subject" ng-model="evaluation.subject">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" rows="5" ng-model="evaluation.message"></textarea>
                </div>
              </form>
            </div>

            <div class="respondent-form">
              <div ng-repeat="respondent in respondents | filter:{emailed:false}">
                <form class="form-inline">
                  <i ng-click="removeRespondent(respondent)" class="fa fa-times" aria-hidden="true"></i>
                  <div class="form-group">
                    <label class="sr-only" for="firstName">First Name</label>
                    <input class="form-control" id="firstName" placeholder="First Name" ng-model="respondent.first_name">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" placeholder="Last Name" ng-model="respondent.last_name">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control" id="email" placeholder="Email" ng-model="respondent.email">
                  </div>             
                </form>
              </div>
              <div ng-click="addRespondentInput()">
                <i class="fa fa-plus-square" aria-hidden="true"></i> (Add Another Field)
              </div>
            </div>

            <div>
              <button class="btn btn-primary btn-lg big-button-margin" ng-click="createRespondents()">Email Evaluations</button>
            </div>
            <div ng-show="(respondents|filter:{emailed:true}).length > 0">
              <h3>Respondents previously sent requests to take survey</h3> 
              <table class="table table-hover" ng-show="respondents.length">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Date Sent</th>
                  <th>Responded?</th>
                </tr>
                <tr ng-repeat="respondent in respondents | filter:{emailed:true}">
                  <td>{{respondent.first_name}}</td>
                  <td>{{respondent.last_name}}</td>
                  <td>{{respondent.email}}</td>
                  <td>{{respondent.updated_at}}</td>
                  <td class="center_icon responded"><i class="fa fa-check-square fa-2x" aria-hidden="true" ng-show="respondent.responded"></i></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>














