<% @questions.each do |question| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= question.text %> </h3>
  </div>
  <div class="panel-body">
    <p><%= question.format_type_text %></p>
    <p><%= question.required_text %></p>
  </div>
</div>
<% end %>