<div ng-app="app">

  <div ng-controller="addQuestionCtrl" ng-init="setTemplateId(<%= @template.id %>)">

    <h1><%= @template.name %> </h1>

    <button ng-click="addQuestion(templateId)">Add Question
    </button>




    <div ng-repeat="question in questions">
      <form role="form">
        <div class="form-group">
          <label for="format_type_input">Format Type:</label>
          <select ng-model="question.format_type" class="form-control">
            <option value="multipleChoice">Multiple Choice</option>
            <option value="boolean">Yes or No</option>
            <option value="scale1To10">Scale from 1 to 10</option>
            <option value="text">Text (non-quantitative)</option>       
          </select>
        </div>
        <div class="form-group" ng-if="question.format_type">
          <label for="question_input">Question:</label>
          <input ng-model="question.text" type="text" class="form-control" id="question_input" placeholder="Write question here">
        </div>
        <div class="form-group" ng-repeat="option in question.options track by $index" ng-if="question.format_type.indexOf('multipleChoice') !== -1">
          <label for="option_input">Add an option:</label>
          <input ng-model="option.text" type="text" class="form-control" id="option_input">
        </div>
        <button ng-click="addOption(question)" ng-if="question.format_type.indexOf('multipleChoice') !== -1">Add Options</button>
        <div class="checkbox">
          <label>
            <input ng-model="question.required" type="checkbox" ng-model="question.required"> Required:
          </label>
        </div>
      </form>
    </div>

    <div ng-repeat="questionErrors in errors"> {{ error }}
    </div>
    <div ng-repeat="optionErrors in errors"> {{ error }}
    </div>




    <button ng-click="save(templateId)">Preview</button>
    <p class="help-block">You will have an ability to preview the finished evaluation before confirming the template.</p>



  </div>

</div>