<h1>Analysis</h1>

<p>Choose specific instructor:</p>

  <div class="panel-body">
<%= bootstrap_form_tag :url => '/analysis/instructor_only', :method => 'post' do |f| %> 
     <div><%= f.select :teacher_id, @teacher_select %>
     </div>
     <div>
       <%= f.submit 'Select by Instructor' %>
     </div>
  <% end %>
 </div>


