<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3>Results from "1 to 10" Scale Questions</h3>
        <div id="scale-1-10-charts"></div>
        <!-- <div id="chart-template-scale"></div> -->
        
    </div>  
  <div class="col-md-1"></div>
</div>

<script type="text/javascript">
  $(function () {
      <% @all_instructors_per_template_data.each_with_index do |chart, index| %>
      $("#scale-1-10-charts").append("<div id='chart_<%= index %>'></div>");
      $('#chart-<%= index %>').highcharts({
          chart: {
              type: 'spline'
          },
          title: {
              text: 'Snow depth at Vikjafjellet, Norway'
          },
          subtitle: {
              text: 'Irregular time data in Highcharts JS'
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: { // don't display the dummy year
                  second: '%H:%M:%S',
                  minute: '%H:%M',
                  hour: '%H:%M',
                  day: '%B, %e',
                  week: '%B, %e',
                  month: '%B \'%Y',
                  year: '%Y'
              },
              title: {
                  text: 'Date Range'
              }
          },
          yAxis: {
              title: {
                  text: 'Snow depth (m)'
              },
              min: 0
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
          },

          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },

          series: <%= raw chart[0][:series].to_json %>
      });
      <% end %>
  });
</script>