<div class="page-wrapper">
    <div class="page-content">
      <div class="navbar">
        <img src="assets/landing/logow.png">
        <div class="links">
          <a href="#">How It Works</a>
          <a data-scroll data-options='{ "easing": "easeInCubic", "speed": 1500 }' href="#features">Features</a> 
          <a href="#">FAQs</a>       
        </div>
        <div class="auth_lockup">
          <a href="/users/sign_in">Sign In</a> 
          <a class="sign-up" href="/users/sign_up">Sign Up</a>
        </div>
      </div>

      <div class="hero">
        <img src="assets/landing/blendie.png">
        <div class="hero-content">
          <div class="intro">
            <h2>Your SIMPLE and POWERFUL <br>
            Survey Dashboard</h2>
          </div>
          <div class="details">
            <h4>Get Started now for FREE unlimited </h4>
            <h4>surveys and compare multiple survey results, </h4>
          <h4>over time across organizations or even people.</h4>
          </div>
          <div class="cta">
            <a data-scroll href="#features">Learn More</a>
            <a class="get-started" href="/users/sign_up">Get Started</a>
          </div> <!-- End of Hero Content-->
          </div> <!-- End of Hero -->
        </div>
      </div>
      <div class="talk">
        <div id="talk"></div>
      </div>
      <section class="about">
        <div class="tailored">
          <h3>Tailored to fit you...</h3>
          <p>If you've sent out more than one survey, SurveyBlend is for you.</p>
        </div>
        <div class="flex-boxes">
          <a href="javascript:void(0)" class="flex-box">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
            <h1 class="flex-title">Education</h1>
            <p>Wish you could track survey results over time? Maybe by class, cohort, or quarter? See your performace over time with real qualitative data. If you manage educators, you'll be able to compare them immediately without having to aggregate the data yourself.</p>
          </a>
          <a href="javascript:void(0)" class="flex-box">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
            <h1 class="flex-title">Business</h1>
            <p>Do you send out the same customer satifcation survey? Wouldn't you like to see how your performance has changed over time? With SurveyBlend, you can see all the data you need in more place.</p>
          </a>
          <a href="javascript:void(0)" class="flex-box">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
            <h1 class="flex-title">Analytics</h1>
            <p>No need to convert all surveys results to excel sheets, and waste time aggregating the data yourself - let us do that for you! See all the table neatly combined and sorted for you without any extra work.</p>
          </a>
        </div>
      </section>

      <section id="features" class="pricing">
        <div class="tailored">
          <h3>Pricing</h3>
          <p>If you've sent out more than one survey, SurveyBlend is for you.</p>
        </div>
        <div class="plans">
          <div class="basic">
            <div class="title">
              <h3>basic</h3>
              <p>Free</p>
            </div>
            <ul>
              <li>Unlimited Surveys</li>
              <li>10 FREE templates</li>
              <li>100 FREE responses</li>
              <li>No Credit Card Required</li>
              <li>You name it</li>
              <li>So much more</li>
            </ul>
            <div class="cta">
              <a href="#">Get Started</a>
            </div>            
          </div>
          <div class="pro">
            <div class="title">
              <h3>pro</h3>
              <p>$19/Month</p>
            </div>
            <ul>
              <li>Unlimited Surveys</li>
              <li>10 FREE templates</li>
              <li>100 FREE responses</li>
              <li>No Credit Card Required</li>
              <li>24/support</li>
              <li>So much more</li>
            </ul>
            <div class="cta">
              <a href="#">Go Pro Now</a>
            </div>
          </div> 
        </div>
      </section>
    </div>
    <footer class="footer">
        <div class="footer-logo">
          <img src="assets/landing/logow.png" alt="Logo image">
        </div>
          <ul>
            <li><a href="#">How It Works</a></li>
            <li><a data-scroll data-options='{
                    "speed": 1500,
                    "easing": "easeInOutCubic",
                    "offset": 0
                }' href="#features">Features</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>

          <div class="footer-secondary-links">
            <h3>Follow Us</h3>

            <ul class="footer-social">
              <li><a href="javascript:void(0)">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
                </a></li>
              <li><a href="javascript:void(0)">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
              </a></li>
              <li><a href="javascript:void(0)">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
              </a></li>
            </ul>
          </div>
      </footer>

      <script>
        smoothScroll.init();
    </script>