<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Question #1</h3>
  </div>
  <div class="panel-body">
    <%= bootstrap_form_for @template do |f| %>
      <div>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.text_field :description %>
      </div>
      <div>
        <%= f.submit 'Continue' %>
      </div>
    <% end %>
  </div>
</div>
