<h1>Created Templates</h1>

<h2>Create an evaluation template to use for your instructor(s). Be general in order to use the template more than once.</h2>
<%= link_to "Create Template", new_template_path %>


<table class="table table-hover">
  <tr>
    <th>Template Name</th>
    <th>Description</th> 
  </tr>
  <% @templates.each do |template| %>
  <tr>
    <td><%= template.name %></td>
    <td> <%= template.description %></td> 
  </tr>
  <% end %>
</table>

