<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>How It Works</h1>

    <h2>Step 1</h2>
    <p>Create a survey template.</p>

    <h2>Step 2</h2>
    <p>Add an instructor, person, or employee to attach the survey to.</p>

    <h2>Step 3</h2>
    <p>Send out a new survey either by sending the link provided, or send them directly from SurveyBlend.</p>

  </div>
</div>



