<!-- .header-content -->
        <div class="header-content">
            
            <!-- .container -->
            <div class="container">
                
                <div class="header-text">
                    <div class="header-heading">
                        <p>Flat Style Landing Page</p>
                        <h1>Present your app in beautiful way with Flatland</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id erat facilisis diam tincidunt suscipit ac sit amet ligula. Pellentesque vel felis quis nisl ullamcorper rutrum. Integer suscipit tortor id tellus fringilla, egetas efficitur nulla suscipit. Vestibulum mollis massa id consectetur consectetur.</p>
                    <div class="header-button animation" data-animation="animation-fade-in-down">
                        <a href="#download" class="btn-custom smooth-scroll">Download Now</a>
                        <a href="page.html" class="btn-custom btn-more-link">Learn More</a>
                    </div>
                </div>
                
                <div class="header-img">
                    <div class="carousel-slider header-slider animation" data-animation="animation-fade-in-up" data-delay="400">
                        <div><img src="assets/flat/content/sliders/1.jpg" alt="Image 1" /></div>
                        <div><img src="assets/flat/content/sliders/2.jpg" alt="Image 2" /></div>
                        <div><img src="assets/flat/content/sliders/3.jpg" alt="Image 3" /></div>
                        <div><img src="assets/flat/content/sliders/4.jpg" alt="Image 4" /></div>
                    </div>
                </div>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .header-content end -->
        
    </header>
    <!-- #header end -->
    
    <!-- #features -->
    <div id="features" class="wrap-container8040 bg-dark">
        
        <!-- .container -->
      <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                  <div class="affa-feature-img">
                      <img src="assets/flat/content/icon/paint-brush.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" />
                        <h4>Flat Design</h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur occaecat cupidatat non proident.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                  <div class="affa-feature-img">
                      <img src="assets/flat/content/icon/imac.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="300" />
                        <h4>Responsive Layout</h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur occaecat cupidatat non proident.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                  <div class="affa-feature-img">
                        <img src="assets/flat/content/icon/support.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="600" />
                        <h4>Cross Browser</h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur occaecat cupidatat non proident.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features end -->
    
    <!-- #features2 -->
    <div id="features2" class="wrap-container8040 bg-grey">
        
        <!-- .container -->
      <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                  <div class="margin-bottom40">
                      <div class="post-heading-left text-center-sm text-center-xs">
                          <h4>Flatland Landing Page</h4>
                            <h2>Why It’s Best #1</h2>
                        </div>
                        
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur officia deserunt sunt in culpa qui officia deserunt mollit perspiciatis unde omnis natus culpa qui deserunt mollit anim est laborum.</p>
                        <p class="margin-bottom30">Excepteur fugiat occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim est laborum perspiciatis unde omnis natus esse cillum dolore.</p>
                        <a href="page.html" class="btn-custom btn-icon"><i class="fa fa-search"></i> Learn More</a>
                    </div>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                  <figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="assets/flat/content/landing/feature-1.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features2 -->
    
    <!-- #features3 -->
    <div id="features3" class="wrap-container8040">
        
        <!-- .container -->
      <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0">
                  <figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                      <img src="assets/flat/content/landing/feature-2.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                  <div class="col-text20 margin-bottom20">
                      <div class="post-heading-left margin-bottom20">
                            <h4>Flatland Landing Page</h4>
                            <h2>Why It’s Best #2</h2>
                            <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        
                        <div class="list-row">
                          <div class="list-col">
                                <ul class="list-icon">
                                    <li><i class="fa fa-check"></i> Meeting time</li>
                                    <li><i class="fa fa-check"></i> Invite people</li>
                                    <li><i class="fa fa-check"></i> Share location</li>
                                    <li><i class="fa fa-check"></i> Reminder</li>
                                </ul>
                            </div>
                            
                            <div class="list-col">
                              <ul class="list-icon">
                                    <li><i class="fa fa-check"></i> Notification by email</li>
                                    <li><i class="fa fa-check"></i> List of meeting materials</li>
                                    <li><i class="fa fa-check"></i> Made very important</li>
                                    <li><i class="fa fa-check"></i> Go out and take holiday</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features3 -->
    
    <!-- #features4 -->
    <div id="features4" class="wrap-container8040 bg-grey">
        
        <!-- .container -->
      <div class="container">
            
            <div class="post-heading-center">
              <h2>Our's Amazing Features</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <!-- .row-custom -->
            <div class="row-custom">
              
                <div class="col-left">
                  <div class="affa-feature-icon"> <!-- 1 -->
                      <i class="fa fa-laptop animation" data-animation="animation-fade-in-left"></i>
                        <div class="feature-text">
                          <h4>Flat Design</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 2 -->
                      <i class="fa fa-download animation" data-animation="animation-fade-in-left"></i>
                        <div class="feature-text">
                          <h4>PSD Layers</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 3 -->
                      <i class="fa fa-building-o animation" data-animation="animation-fade-in-left"></i>
                        <div class="feature-text">
                          <h4>Responsive Layout</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-center">
                  <figure class="margin-bottom40 animation" data-animation="animation-fade-in-down">
                      <img src="assets/flat/content/landing/feature-3.png" alt="Nexus Black" />
                    </figure>
                </div>
                
                <div class="col-right">
                  <div class="affa-feature-icon"> <!-- 4 -->
                      <i class="fa fa-paint-brush animation" data-animation="animation-fade-in-right"></i>
                        <div class="feature-text">
                          <h4>Customizable</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 5 -->
                      <i class="fa fa-support animation" data-animation="animation-fade-in-right"></i>
                        <div class="feature-text">
                          <h4>Extensive Docs</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    
                    <div class="affa-feature-icon"> <!-- 6 -->
                      <i class="fa fa-shield animation" data-animation="animation-fade-in-right"></i>
                        <div class="feature-text">
                          <h4>Secure & Valid</h4>
                            <p>Proident sunt in culpa qui officia deserunt mollit anim perspiciatis unde omnis natus culpa qui deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row-custom end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #features4 end -->
    
    <!-- #counter -->
    <div id="counter" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="assets/flat/content/bg/1.jpg">
        
        <!-- .bg-overlay -->
        <div class="bg-overlay50 wrap-container8040">
            
            <!-- .container -->
            <div class="container">
                
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-sm-3"> <!-- 1 -->
                      <div class="affa-counter">
                          <img src="assets/flat/content/icon/stats.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" />
                            <h4><span>198</span>k</h4>
                            <p>Times Download</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-3"> <!-- 2 -->
                      <div class="affa-counter">
                          <img src="assets/flat/content/icon/clock.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="300" />
                            <h4><span>200</span>k</h4>
                            <p>Hours of Development</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-3"> <!-- 3 -->
                      <div class="affa-counter">
                          <img src="assets/flat/content/icon/coffe-cup.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="600" />
                            <h4><span>64</span>k</h4>
                            <p>Cups of Coffee</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-3"> <!-- 4 -->
                      <div class="affa-counter">
                          <img src="assets/flat/content/icon/user.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="900" />
                            <h4><span>256</span>k</h4>
                            <p>Satisfied Members</p>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .bg-overlay end -->
        
    </div>
    <!-- #counter end -->
    
    <!-- #testimonials -->
    <div id="testimonials" class="wrap-container8040 bg-color">
        
        <!-- .container -->
      <div class="container">
            
            <div class="post-heading-center">
              <h2>What Our's Clients Says</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-6"> <!-- 1 -->
                  <div class="affa-testimonial animation" data-animation="animation-fade-in-left">
                      <div class="testimonial-text">
                          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                          <h4>John Doe</h4>
                            <p>company.com</p>
                            <img src="assets/flat/content/avatar/1.jpg" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6"> <!-- 2 -->
                  <div class="affa-testimonial animation" data-animation="animation-fade-in-right">
                      <div class="testimonial-text">
                          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>John Doe</h4>
                            <p>company.com</p>
                            <img src="assets/flat/content/avatar/2.jpg" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row -->
            
            <!-- .row -->
            <div class="row">
            
              <div class="col-sm-6"> <!-- 3 -->
                  <div class="affa-testimonial animation" data-animation="animation-fade-in-left">
                      <div class="testimonial-text">
                          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                          <h4>John Doe</h4>
                            <p>company.com</p>
                            <img src="assets/flat/content/avatar/3.jpg" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6"> <!-- 4 -->
                  <div class="affa-testimonial animation" data-animation="animation-fade-in-right">
                      <div class="testimonial-text">
                          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>John Doe</h4>
                            <p>company.com</p>
                            <img src="assets/flat/content/avatar/4.jpg" alt="Avatar" />
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- .row -->
            
            <!-- .row -->
            <div class="row">
            
              <div class="col-sm-6"> <!-- 5 -->
                  <div class="affa-testimonial animation" data-animation="animation-fade-in-left">
                      <div class="testimonial-text">
                          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                          <h4>John Doe</h4>
                            <p>company.com</p>
                            <img src="assets/flat/content/avatar/5.jpg" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6"> <!-- 6 -->
                  <div class="affa-testimonial animation" data-animation="animation-fade-in-right">
                      <div class="testimonial-text">
                          <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                        </div>
                        <div class="testimonial-author">
                            <h4>John Doe</h4>
                            <p>company.com</p>
                            <img src="assets/flat/content/avatar/6.jpg" alt="Avatar" />
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #testimonials end -->
    
    <!-- #screenshots -->
    <div id="screenshots" class="wrap-container80">
        
        <!-- .container -->
      <div class="container">
            
            <div class="post-heading-center">
              <h2>Our's App Screenshots</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <div class="row carousel-slider gallery-slider animation" data-animation="animation-fade-in-down">
              <div class="col-sm-3"> <!-- 1 -->
                  <a href="assets/flat/content/screenshots/1.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-hover">
                          <img src="assets/flat/content/screenshots/1.jpg" alt="Image Screenshot 1" />
                            <div class="hover-masked"></div>
                        </figure>
                    </a>
                </div>
                
                <div class="col-sm-3"> <!-- 2 -->
                  <a href="assets/flat/content/screenshots/2.jpg" class="fancybox" data-fancybox-group="images_gallery">
                      <figure class="img-hover">
                          <img src="assets/flat/content/screenshots/2.jpg" alt="Image Screenshot 2" />
                            <div class="hover-masked"></div>
                        </figure>
                    </a>
                </div>
                
                <div class="col-sm-3"> <!-- 3 -->
                  <a href="assets/flat/content/screenshots/3.jpg" class="fancybox" data-fancybox-group="images_gallery">
                      <figure class="img-hover">
                          <img src="assets/flat/content/screenshots/3.jpg" alt="Image Screenshot 3" />
                            <div class="hover-masked"></div>
                        </figure>
                    </a>
                </div>
                
                <div class="col-sm-3"> <!-- 4 -->
                  <a href="assets/flat/content/screenshots/4.jpg" class="fancybox" data-fancybox-group="images_gallery">
                      <figure class="img-hover">
                          <img src="assets/flat/content/screenshots/4.jpg" alt="Image Screenshot 4" />
                            <div class="hover-masked"></div>
                        </figure>
                    </a>
                </div>
                
                <div class="col-sm-3"> <!-- 5 -->
                    <a href="assets/flat/content/screenshots/5.jpg" class="fancybox" data-fancybox-group="images_gallery">
                      <figure class="img-hover">
                          <img src="assets/flat/content/screenshots/5.jpg" alt="Image Screenshot 5" />
                            <div class="hover-masked"></div>
                        </figure>
                    </a>
                </div>
                
                <div class="col-sm-3"> <!-- 6 -->
                    <a href="assets/flat/content/screenshots/6.jpg" class="fancybox" data-fancybox-group="images_gallery">
                      <figure class="img-hover">
                          <img src="assets/flat/content/screenshots/6.jpg" alt="Image Screenshot 6" />
                            <div class="hover-masked"></div>
                        </figure>
                    </a>
                </div>
            </div>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #screenshots end -->
    
    <div class="sep-border"></div> <!-- separator -->
    
    <!-- #portfolios -->
    <div id="portfolios" class="wrap-container8040">
        
        <!-- .container -->
      <div class="container">
            
            <div class="post-heading-center">
              <h2>Our's Latest Works</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <nav class="isotope-menu animation" data-animation="animation-fade-in-down">
                <a href="#" class="active" data-filter="*">All Works</a>
                <a href="#" data-filter=".creative">Creative</a>
                <a href="#" data-filter=".entertainment">Entertainment</a>
                <a href="#" data-filter=".mobile">Mobile</a>
            </nav>
            
            <div class="isotope-row animation" data-animation="animation-fade-in-up">
              <div class="item entertainment mobile"> <!-- 1 -->
                  <a href="assets/flat/content/portfolios/full/1.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/1.jpg" alt="Portfolio Item 1" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 1</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item creative"> <!-- 2 -->
                  <a href="assets/flat/content/portfolios/full/2.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/2.jpg" alt="Portfolio Item 2" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 2</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item creative mobile"> <!-- 3 -->
                  <a href="assets/flat/content/portfolios/full/3.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/3.jpg" alt="Portfolio Item 3" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 3</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item entertainment"> <!-- 4 -->
                    <a href="assets/flat/content/portfolios/full/4.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/4.jpg" alt="Portfolio Item 4" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 4</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item creative mobile"> <!-- 5 -->
                    <a href="assets/flat/content/portfolios/full/5.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/5.jpg" alt="Portfolio Item 5" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 5</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item creative entertainment mobile"> <!-- 6 -->
                    <a href="assets/flat/content/portfolios/full/6.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/6.jpg" alt="Portfolio Item 6" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 6</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item creative entertainment"> <!-- 7 -->
                    <a href="assets/flat/content/portfolios/full/7.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/7.jpg" alt="Portfolio Item 7" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 7</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item mobile"> <!-- 8 -->
                    <a href="assets/flat/content/portfolios/full/8.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/8.jpg" alt="Portfolio Item 8" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 8</p>
                            </div>
                        </figure>
                    </a>
                </div>
                
                <div class="item entertainment mobile"> <!-- 9 -->
                    <a href="assets/flat/content/portfolios/full/9.jpg" class="fancybox" data-fancybox-group="images_gallery">
                        <figure class="img-overlay">
                          <img src="assets/flat/content/portfolios/thumb/9.jpg" alt="Portfolio Item 9" />
                            <div class="overlay-masked">
                              <span class="overlay-icon"></span>
                                <p>Portfolio Item 9</p>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #portfolios end -->
    
    <!-- #pricing -->
    <div id="pricing" class="wrap-container8040 bg-grey">
      
        <!-- .container -->
      <div class="container">
          
            <div class="post-heading-center">
              <h2>Plans & Pricing Tables</h2>
            </div>
            
            <!-- .tbl-pricing -->
            <div class="tbl-pricing tbl-prc-recommended">
                
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-sm-4 tbl-prc-col animation" data-animation="animation-fade-in-left"> <!-- 1 -->
                      <div class="tbl-prc-wrap">
                          <div class="tbl-prc-heading">
                              <h4>Basic</h4>
                            </div>
                            <div class="tbl-prc-price">
                                <h5>$19<i>/ mo</i></h5>
                                <p>Billed annually or $10 month-to-month.</p>
                            </div>
                            <ul class="tbl-prc-list">
                                <li>10GB Space Amount</li>
                                <li>Unlimited Users</li>
                                <li>30GB Bandwidth</li>
                                <li>Enhanced Security</li>
                                <li>20 MySQL Databases</li>
                                <li>25 projects</li>
                                <li>Unlimited Domain</li>
                            </ul>
                            <div class="tbl-prc-footer">
                                <a href="#" class="btn-custom">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 tbl-prc-col tbl-prc-col-recommended animation" data-animation="animation-fade-in-down" data-delay="600"> <!-- 2 -->
                      <div class="tbl-prc-wrap">
                          <div class="tbl-prc-heading">
                                <h4>Professional</h4>
                            </div>
                            <div class="tbl-prc-price">
                                <h5>$49<i>/ mo</i></h5>
                                <p>Billed annually or $10 month-to-month.</p>
                            </div>
                            <ul class="tbl-prc-list">
                                <li>10GB Space Amount</li>
                                <li>Unlimited Users</li>
                                <li>30GB Bandwidth</li>
                                <li>Enhanced Security</li>
                                <li>20 MySQL Databases</li>
                                <li>25 projects</li>
                                <li>Unlimited Domain</li>
                            </ul>
                            <div class="tbl-prc-footer">
                                <a href="#" class="btn-custom">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 tbl-prc-col animation" data-animation="animation-fade-in-right" data-delay="300"> <!-- 3 -->
                      <div class="tbl-prc-wrap">
                          <div class="tbl-prc-heading">
                                <h4>Enterprise</h4>
                            </div>
                            <div class="tbl-prc-price">
                                <h5>$64<i>/ mo</i></h5>
                                <p>Billed annually or $10 month-to-month.</p>
                            </div>
                            <ul class="tbl-prc-list">
                                <li>10GB Space Amount</li>
                                <li>Unlimited Users</li>
                                <li>30GB Bandwidth</li>
                                <li>Enhanced Security</li>
                                <li>20 MySQL Databases</li>
                                <li>25 projects</li>
                                <li>Unlimited Domain</li>
                            </ul>
                            <div class="tbl-prc-footer">
                                <a href="#" class="btn-custom">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- .row end -->
                
            </div>
            <!-- .tbl-pricing end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #pricing end -->
    
    <!-- #teams -->
    <div id="teams" class="wrap-container8040 bg-dark">
        
        <!-- .container -->
      <div class="container">
            
            <div class="post-heading-center">
              <h2>Who's Behind This</h2>
                <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                  <div class="affa-team-profile">
                      <figure class="team-profile-img animation" data-animation="animation-fade-in-down">
                          <div class="team-profile-socials">
                              <div class="team-profile-socials-wrap">
                                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            <img src="assets/flat/content/avatar/1.jpg" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                          <h4>John Kiwolen</h4>
                            <p>CEO & Founder</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore officia mollit anim id est laborum.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                  <div class="affa-team-profile">
                      <figure class="team-profile-img animation" data-animation="animation-fade-in-down" data-delay="300">
                          <div class="team-profile-socials">
                              <div class="team-profile-socials-wrap">
                                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            <img src="assets/flat/content/avatar/2.jpg" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                          <h4>Mirza Dhany</h4>
                            <p>Developer</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore officia mollit anim id est laborum.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                  <div class="affa-team-profile">
                      <figure class="team-profile-img animation" data-animation="animation-fade-in-down" data-delay="600">
                          <div class="team-profile-socials">
                              <div class="team-profile-socials-wrap">
                                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                            <img src="assets/flat/content/avatar/6.jpg" alt="Avatar" />
                        </figure>
                        <div class="team-profile-name">
                          <h4>Bebbh Duduls</h4>
                            <p>Content Writer</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore officia mollit anim id est laborum.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
    </div>
        <!-- .container end -->
        
  </div>
    <!-- #teams -->
    
    <!-- #download -->
    <div id="download" class="bg-parallax" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="assets/flat/content/bg/2.jpg">
        
        <!-- .bg-overlay -->
        <div class="bg-overlay50 wrap-container120">
            
            <!-- .container -->
            <div class="container">
                
                <div class="post-heading-center">
                  <h2>Get Your App Now</h2>
                    <p>Lorem ipsum dolor sit amet, consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                
                <div class="btn-section textcenter animation" data-animation="animation-fade-in-up">
                  <a href="#" class="btn-custom btn-icon"><i class="fa fa-apple"></i> Apple Store</a>
                    <a href="#" class="btn-custom btn-icon"><i class="fa fa-android"></i> Play Store</a>
                </div>
                
            </div>
            <!-- .container end -->
            
      </div>
        <!-- .bg-overlay end -->
        
    </div>
    <!-- #download end -->
    
    <!-- #contact -->
    <div id="contact" class="wrap-container80">
        
        <!-- .container -->
      <div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4">
                  <div class="affa-info-text">
                      <img src="assets/flat/content/icon/mobile.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" />
                        <h4>Phone Number</h4>
                        <p>(00) 123-4567890 (tel-1)</p>
                        <p>(00) 123-4567890 (tel-2)</p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                  <div class="affa-info-text">
                      <img src="assets/flat/content/icon/mail.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="300" />
                        <h4>Email Address</h4>
                        <p>email_1@example.com</p>
                        <p>email_2@example.com</p>
                    </div>
                </div>
                
                <div class="col-sm-4">
                  <div class="affa-info-text">
                      <img src="assets/flat/content/icon/location-pin.png" alt="Icon" class="animation" data-animation="animation-fade-in-down" data-delay="600" />
                        <h4>Business Address</h4>
                        <p>123 Main Street Cottage</p>
                        <p>Long Branch, P.O Box 65148</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
            <div class="sep-border margin-bottom40"></div> <!-- separator -->
            
            <div class="post-heading-center">
              <h4>Flatland Landing Page</h4>
                <h2>Keep In Touch with Us</h2>
                <p>Excepteur occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim est laborum perspiciatis unde omnis natus. Omnis iste natus error sit voluptatem dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                  <form method="post" action="#" class="affa-form-contact">
                      <div class="submit-status"></div> <!-- submit status -->
                        <input type="text" name="name" placeholder="Your Name" />
                        <input type="text" name="email" placeholder="Email Address *" />
                        <textarea name="message" placeholder="Message *"></textarea>
                        <input type="submit" name="submit" value="Send Message" />
                    </form>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #contact end -->