    <!-- .header-content -->
        <div class="header-content">
            
            <!-- .container -->
            <div class="container">
                
                <div class="header-text">
                    <div class="header-heading">
                        <h1>A Dashboard for Your Survey Results</h1>
                        <br>
                        <p>SurveyBlend allows you to easily compare multiple survey results over time, across organizations or even people.</p>
                    </div>
                    <p>How do your survey results compare to the last focus group, class, or clients? Maybe you'd like to compare your performance, or the performance of many people or organizations? Or all together? You no longer need to downlaod individual survey results and compile the data yourself. We do that, along with beautiful, inslightful charts and graphs.</p>
                    <div class="header-button animation" data-animation="animation-fade-in-down">
                        <a href="/users/sign_up" class="btn-custom smooth-scroll">Sign Up</a>
                        <a href="/how_it_works" class="btn-custom btn-more-link">How It Works</a>
                    </div>
                </div>
                
                <div class="header-img">
                    <div class="carousel-slider header-slider animation" data-animation="animation-fade-in-up" data-delay="400">
                        <div><img src="assets/flat/content/sliders/1.jpg" alt="Image 1" /></div>
                        <div><img src="assets/flat/content/sliders/2.jpg" alt="Image 2" /></div>
                        <div><img src="assets/flat/content/sliders/3.jpg" alt="Image 3" /></div>
                        <div><img src="assets/flat/content/sliders/4.jpg" alt="Image 4" /></div>
                    </div>
                </div>
                
            </div>
            <!-- .container end -->
            
        </div>
        <!-- .header-content end -->
        
    </header>
    <!-- #header end -->
        
    <!-- <div class="sep-border"></div> --> <!-- separator -->
    
  <!-- #teams -->
    <div id="teams" class="wrap-container8040 bg-dark">
        
        <!-- .container -->
        <div class="container">
            
            <div class="post-heading-center">
                <h2>Who's This For?</h2>
                <p>If you've sent out more than one survey, SurveyBlend is for you.</p>
            </div>
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-4"> <!-- 1 -->
                    <div class="affa-team-profile">
                        <div class="team-profile-name">
                            <h4>Educator / Admin of Educators</h4>
                        </div>
                        <p>Wish you could track survey results over time? Maybe by class, cohort, or quarter? See your performace over time with real qualitative data. If you manage educators, you'll be able to compare them immediately without having to aggregate the data yourself.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 2 -->
                    <div class="affa-team-profile">
                        <div class="team-profile-name">
                            <h4>Managers / Business Owners</h4>
                            
                        </div>
                        <p>Do you send out the same customer satifcation survey? Wouldn't you like to see how your performance has changed over time? With SurveyBlend, you can see all the data you need in more place.</p>
                    </div>
                </div>
                
                <div class="col-sm-4"> <!-- 3 -->
                    <div class="affa-team-profile">
                        <div class="team-profile-name">
                            <h4>Analysts</h4>
                        </div>
                        <p>No need to convert all surveys results to excel sheets, and waste time aggregating the data yourself - let us do that for you! See all the table neatly combined and sorted for you without any extra work.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- #teams -->
    
   
