<h3>
  Default Pricing Plans
</h3>
<div class="row pricing-stack margin-top-lg">
<div class="col-md-3"></div>
  <div class="col-md-3">
    <div class="well">
      <h3 class="title">
        Starter
      </h3>
      <p class="price"><span class="fancy">Free!</span></p>
      <ul class="unstyled points">
        <li>3 User Accounts</li>
        <li>3 Private Projects</li>
        <li>Umlimited Public Projects</li>
        <li>5GB of space</li>
      </ul>
      <a class="btn btn-primary">Sign Up</a> 
    </div>
  </div>
  <div class="col-md-3">
    <div class="well active">
      <h3 class="title">
        <span class="em">Pro</span>
      </h3>
      <p class="price">
        <span class="currency">$</span> 
        <span class="digits">49<span>.95</span></span>
        <span class="term">/MO</span>
      </p>
      <ul class="unstyled points">
        <li>50 User Accounts</li>
        <li>50 Private Projects</li>
        <li>Umlimited Public Projects</li>
        <li>Unlimited space</li>
      </ul>
      <%= link_to "Subcribe", "/subscriptions/new", class: "btn btn-primary" %>
    </div>
  </div>
</div>