<!-- #pricing -->
<div id="pricing" class="wrap-container8040">
  
    <!-- .container -->
  <div class="container">
  
              
        <!-- .tbl-pricing -->
        <div class="tbl-pricing tbl-prc-recommended">
            <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <h1>Pricing</h1>
            </div>
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 tbl-prc-col animation" data-animation="animation-fade-in-left"> <!-- 1 -->
                  <div class="tbl-prc-wrap custom-border">
                      <div class="tbl-prc-heading">
                          <h3>Basic</h3>
                        </div>
                        <div class="tbl-prc-price">
                            <h5>$0</h5>
                            
                        </div>
                        <ul class="tbl-prc-list text-left">
                            <li><span class="highlight-pricing">Unlimited</span> Surveys</li>
                            <li>5 Total Templates</li>
                            <li>10 Questions per Survey</li>
                            <li>100 Respondents per Survey</li>
                            <li>Compare Survey Results Over Time per Instructor, Focus Group, or Employee</li>
                            <li>No Credit Card Required</li>
                        </ul>
                        <div class="tbl-prc-footer custom-sign-up">
                            <a href="/users/sign_up" class="btn-custom custom-btn-pricing">Sign Up</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-sm-4 tbl-prc-col animation" data-animation="animation-fade-in-right" data-delay="300"> <!-- 3 -->
                  <div class="tbl-prc-wrap custom-border">
                      <div class="tbl-prc-heading">
                            <h3>Pro</h3>
                        </div>
                        <div class="tbl-prc-price">
                            <h5>$19<i>/ mo</i></h5>
                            
                        </div>
                        <ul class="tbl-prc-list text-left">
                            <li><span class="highlight-pricing">Unlimited</span> Surveys</li>
                            <li><span class="highlight-pricing">Unlimited</span> Templates</li>
                            <li><span class="highlight-pricing">Unlimited</span> Questions per Survey</li>
                            <li><span class="highlight-pricing">Unlimited</span> Respondents per Survey</li>
                            <li>Compare Survey Results Over Time per Instructor, Group, or Employee</li>
                            <li>Compare Survey Results over <span class="highlight-pricing">Multiple</span> Instructors, Groups, or Employees</li>
                        </ul>
                        <div class="tbl-prc-footer custom-sign-up text-center">
                            <a href="/users/sign_up" class="btn-custom">Sign Up</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .tbl-pricing end -->
        
    </div>
    <!-- .container end -->
    
</div>
<!-- #pricing end -->