
<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-8">

    <h1>Organization, Group, Instructor or Employee</h1>
     
      <%= bootstrap_form_for @teacher do |f| %>
        <div>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.submit 'Add' %>
        </div>
      <% end %>

    </div>  
</div>