/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require app_strap/bootstrap.min
 *= require font-awesome
 *= require app_strap/theme-style.min
 *= require app_strap/clingify
 *= require animate
 *= require_tree .
 *= require_self
 */



.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


.panel, table {
  box-shadow:0 0 10px #666;
}

.btn-xlarge {
    margin: 0px 10px 0px 10px;
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

h1, h2 {
    color: #1C7E6E;
    text-align: center;
    margin: 30px 0px 30px 0px;
}



.accounts {

  width: 270px;
  margin: 5% 0 0 10%;
  text-align: left;
  font-size: 16px;
  color: #000000;
  background: #8EC1B9;
  opacity:0.9;
  border-radius:25px;
  padding: 20px 20px 20px 20px;
  display: inline-block;
  float: left;


}