// Place all the styles related to the evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.eval-heading {
  text-align: center;
  margin: 50px auto 50px auto;
}

.strong {
  color:red;
}


.respondent-form {
  margin: 20px 0px 20px 0px;
}

.big-button-margin {
  margin: 10px 0px 10px 0px;
}