// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


fieldset {
    padding: 30px 20px 20px 20px;
    border:1px solid #666;
    border-radius:8px;
    box-shadow:0 0 10px #666;
    margin: 20px;

}
legend {
    float:left;
    margin-top:-20px;
}
legend + * {
    clear:both;
}

.preview-template {
    margin: 5px;
}

.preview-center {
    text-align: center;
}

.required {
    color:red;
}

.optional {
    color:green;
}

.add-question {
    margin: 10px;
}

.important {
    color: red;
}

.preview-template {
    margin: 40px
}

.question-spacing {
    margin: 25px;
}
