<p>To unsubscribe to all surveys sent from this user, <%=link_to "click here", "/respondents/#{@signature}?type=user", method: :patch %></p>
<p>To unsubscribe from all surveys from Evaluator, <%=link_to "click here", "/respondents/#{@signature}?type=all", method: :patch %></p>